<div class="flex flex-wrap w-3/5 font-roboto gap-y-1 mx-auto rounded-lg px-5 px-10 shadow-2xl bg-gradient-to-r from-indigo-200 via-blue-400 to-indigo-500">
    <div class="flex justify-between place-self-center">
        <div>
            <h1 class="text-7xl p-1.5 text-center">Registro</h1>

        <div class="text-lg mt-4">DNI</div>
        <div>
            <input type="text" class="w-80 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" name="correo">
        </div>

        <div class="text-lg mt-2">Nombres</div>
        <div>
            <input type="text" class="w-80 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" name="nombres">
        </div>

        <div class="text-lg mt-2">Apellidos</div>
        <div>
            <input type="text" class="w-80 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" name="apellidos">
        </div>

        <div class="text-lg mt-2">Celular</div>
        <div>
            <input type="text" class="w-80 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" name="celular">
        </div>

        <div class="text-lg mt-2">Contraseña</div>
        <div>
            <input type="password" class="w-80 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" name="credencial">
        </div>

        <div class="text-lg mt-2">Repetir contraseña</div>
        <div>
            <input type="password" class="w-80 rounded-md border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent" name="credencialRepeticion">
        </div>

        <div>
            <p class="flex flex-wrap mx-auto w-80 mt-2 text-xs text-left text-gray-500">Al hacer clic en "Registrarte", aceptas nuestras Condiciones, la Política de datos y la Política de cookies.</p>
        </div>

        <div class="text-center">
            <button type="submit" class="text-2xl mt-4 mb-8 bg-blue-500 text-white gap-y-4 rounded-lg hover:bg-blue-800 rounded-md">Registrarte</button>
        </div>

        </div>
    </div>
    <div class="w-2/5 m-8 p-10 justify-center container mx-auto self-center">
        <img src="assets/images/logito.jpg">
    </div>

</div>
